<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">
		<title>ToDoApp</title>

		<script src="{{ MEDIA_URL }}js/underscore.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery.js"></script>
		<script src="{{ MEDIA_URL }}js/backbone.js"></script>
		<script src="{{ MEDIA_URL }}js/app.js"></script>
	</head>
	<body>
  <div class="container">
		<h1>Tasks</h1>

		<form class="form-inline" id="addTask">
			<input type="text" id="title">
			<input class="btn btn-info"type="submit" value="Add" >
			<span id="error"></span>
		</form>

		<div id="tasks"></div>

		<p>Tasks Left: <span id="count"></span></p>

		<script type="text/template" id="task-template">
      <div class="checkbox">
        <input type="checkbox" class="toggle"
           <%= completed ? 'checked' : '' %>>
			<span class="<%= completed ? 'completed' : '' %>">
				<%= title  %>
			</span>
      <span class="delete">
        <button class="btn-xs btn-success">delete</button>
      </span>
			<span >TimeLimit: <%= timelimit%></span>
      </div>
		</script>
  </div>
	</body>
</html>
